.img-categorie{
    width: 15%;
}
.form-categorie{
    background-color: #10beff73;
    padding: 1rem;
    margin-bottom: 5%;
}
@media (max-width: 768px) {
    .img-categorie{
        width: 45%;
    }
    
}