.container-button{
    position: relative;
    text-align: center;
    margin: 1%;
}

.image-button{
    width: 20rem;

    /* background:linear-gradient(40deg,#ffd86f,#fc6262)!important; */
    /* background: linear-gradient(120deg,#84fab0 0,#8fd3f4 100%); */
    border-radius: 18px;
    border: 1px solid #ddd;
}

.button-inside-img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    background: transparent;
    border: transparent;
    width:20rem;
    height:20rem;
    border-radius: 18px;

}

.container-button:hover .button-inside-img{
    opacity: 1;
}

.container-button:hover .image-button{
    /* background: linear-gradient(120deg,#84faaf83 0,#8fd2f486 100%); */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
@media (max-width: 768px){
    .button-inside-img{
        opacity: 1;
        width:10rem;
        height:10rem;
    }   
    .image-button{
        width: 10rem;
    }
    .container-button{
        margin: 1%;

    }
}